    h1{
        font-size: 50px;
        text-align: center;
    }

    p{
        font-family: "Arial";
        text-align: justify;
    }

    table{
        color: blue;
        border: 10px;
    }